# Tutorial 4: Multinomial logit using the python biogeme package

We will learn to specify multinomial logit models using the biogeme package.

"*Biogeme is a open source Python package designed for the maximum likelihood estimation of parametric models in general, with a special emphasis on discrete choice models.*"

# Preparing the environment

Google colab environment does not have biogeme installed by default,
so we need to install in every session. Hopefully, it will take less than one minute. Once installed it will be valid until the session expires (or we reset it).

First load the packages typical packages, biogeme and the common one for python data analysis.

In [1]:
import pandas  as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
import biogeme.expressions as exp

# The dataset

We will use the example from the biogeme package, Swissmetro dataset:

"*This dataset consists of survey data collected on the trains between St. Gallen and Geneva, Switzerland, during March 1998. The respondents provided information in order to analyze the impact of
the modal innovation in transportation (a new mode of transport), represented by the Swissmetro, a revolutionary mag-lev underground system, against the usual transport modes represented by car and train.*"

---
---

#Loading the dataset

Biogeme can interact with the popular pandas package, so we can load the dataset in pandas first and then pass it to biogeme.

This specific dataset uses the format 'tab separated values' instead of the more common 'comma separated values'. We can specify this non-standard separator by the argument `sep` in `pandas.read_csv`.

In [2]:
swissmetro = pd.read_csv('http://transp-or.epfl.ch/data/swissmetro.dat', sep='\t')

We will take a look at it, using the head() method of to display the first few rows.

There is a detailed description of the dataset
variables [here](http://transp-or.epfl.ch/documents/technicalReports/CS_SwissmetroDescription.pdf). **You will need to take a look at them later
to understand the data and create your own models.**

In [3]:
swissmetro.head(5)

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
0,2,0,1,1,1,0,1,1,0,3,...,112,48,120,63,52,20,0,117,65,2
1,2,0,1,1,1,0,1,1,0,3,...,103,48,30,60,49,10,0,117,84,2
2,2,0,1,1,1,0,1,1,0,3,...,130,48,60,67,58,30,0,117,52,2
3,2,0,1,1,1,0,1,1,0,3,...,103,40,30,63,52,20,0,72,52,2
4,2,0,1,1,1,0,1,1,0,3,...,130,36,60,63,42,20,0,90,84,2

In [4]:
#show swissmetro data if GA == 1
swissmetro[swissmetro['GA']==1][['GA', 'TRAIN_CO']]

      GA  TRAIN_CO
288    1      3120
289    1      3120
290    1      3120
291    1      2600
292    1      2340
...   ..       ...
3910   1      1850
3911   1      1665
3912   1      2220
3913   1      2220
3914   1      1850

[1521 rows x 2 columns]

We see some socioeconomic characteristics such as 'AGE', likely encoding by age groups, 'MALE' which we can assume refers to gender. There are also some attributes of the alternatives, such as 'CAR_TT' which would be travel time in car, 'TRAIN_CO' which refers to the cost of the fare by train.

An important variable is 'CHOICE' it is the result of the choice for each individual, coded as 1 for train, 2 for swissmetro, 3 for car. The value 0 indicates invalid response.

---
---

# Passing the dataset to biogeme

For now, we have loaded the dataset into a pandas dataframe, we need to transform it into a Biogeme database, the format that biogeme understands.
We pass first argument the name of the database that we want to give and second the pandas dataframe.

In [5]:
bgm_swissmetro = db.Database('swissmetro', swissmetro)

We can access the dictionary of variables in the biogeme database the following way:

In [6]:
bgm_swissmetro.variables

{'GROUP': GROUP,
 'SURVEY': SURVEY,
 'SP': SP,
 'ID': ID,
 'PURPOSE': PURPOSE,
 'FIRST': FIRST,
 'TICKET': TICKET,
 'WHO': WHO,
 'LUGGAGE': LUGGAGE,
 'AGE': AGE,
 'MALE': MALE,
 'INCOME': INCOME,
 'GA': GA,
 'ORIGIN': ORIGIN,
 'DEST': DEST,
 'TRAIN_AV': TRAIN_AV,
 'CAR_AV': CAR_AV,
 'SM_AV': SM_AV,
 'TRAIN_TT': TRAIN_TT,
 'TRAIN_CO': TRAIN_CO,
 'TRAIN_HE': TRAIN_HE,
 'SM_TT': SM_TT,
 'SM_CO': SM_CO,
 'SM_HE': SM_HE,
 'SM_SEATS': SM_SEATS,
 'CAR_TT': CAR_TT,
 'CAR_CO': CAR_CO,
 'CHOICE': CHOICE}

Because this is too verbose, we can load them into the global variables
of the python environment, to make the symbolic manipulation less verbose, so we can refer to them just by writing `VARIABLE_NAME` instead of having to write `database.variables['VARIABLE_NAME']`. **Note that the use of global variables is discouraged in general, we use it here for the sake of simplicity, but if we are dealing with complex code, it can lead to confusion. For example when using several biogeme databases at the same time, that share variable names**

The following line of code adds the name of the variables in the biogeme to the global environment in python. We check that now, for example `CHOICE` is understood by python as a variable in the biogeme database.

In [7]:
globals().update(bgm_swissmetro.variables)
CHOICE

CHOICE

Before we begin, we will need to clean the dataset a bit, as suggested by the creators of the dataset.

In this case, we have people that did not respond to the survey, and their value assigned
to the choice is 0. The only valid values for the choice are 1,2,3 indicating
the alternatives, train, swissmetro and car.
We can remove them from the biogeme database using the `remove` method with the logical indicator for the row that have choice 0.

**It is recommended that all database manipulations/cleaning are applied directly on the pandas dataframe before passing it to biogeme.** The reason being that pandas is better designed for that purpose and makes the code more readable. Ideally we would like out interactions with biogeme to be minimized and do as much as possible with the standard frameworks such as pandas.

In [8]:
bgm_swissmetro.remove( (CHOICE == 0) )

In [9]:
#If using pandas, we would call, for example:
#swissmetro[swissmetro.CHOICE !=0]
#BEFORE creating the biogeme database
#bgm_swissmetro = db.Database('swissmetro', swissmetro)

---
---

# Creating the model

What we usually need to define in the multinomial logit can be summarized as:
 * Which variables in the database are we going to include in the model linear model.
 * What is the variable in the database that specifies the choice made, the alternative selected by an individual. The 'target variable' or dependent variable.
 * What variables are used in the modelling of each alternative. Remember that we can define a utility function for each alternative, this means that different alternatives could use different variables.

We can connect this back to the utily theory view, we want to specify the functions that produce the observed component of the utility, the $V_{nj}$

For each alternative $j$ and observation $n$, we consider the vector $x_{nj}$
to be the joint vector of for both attributes and characteristics (to simplify things).  We try to find the vector of coefficients $\beta_j$ for each alternative. In other words, we try to find the linear relationship between the variables and utility for each alternative:
  $$V_{nj} = \beta_j x_n$$

Technical things to consider:

* Consider that some attributes or characteristics are not relevant for some alternatives: This would be equivalent to fixing some of the values for $\beta_j$ to 0 and not fitting them to data.
* Consider that some attributes or characteristics 'share' the value of the coefficient. For example, we can specify that age affects the same way to all alternatives.

---
---

# The alternative specific constants:
Just as in linear models we have the intercept, in choice models we have alternative specific constants. An important difference is that we cannot determine their 'true' value, because we have seen in the previous tutorial that the absolute level of utilities cannot be recovered, only relative differences among alternatives. In practice, what we will do is assume that the attribute specific characteristic of one of the alternatives is set to 0 and we do not fit it to the data. This will set a reference point.

Again, which alternative we use as reference and what value for the ASC is arbitrary, up to use. We often choose wich alternative is set its ASC to 0 for interpretability (e.g. positive numbers in other ASCs will mean more utilty than the reference, negative numbers less utility than the reference, **all other things being equal**).

---
---

# Definition of the model in biogeme
We define the parameters of the model through the function `exp.Beta`.
The function `exp.Beta` takes 5 arguments:
1. the name of the parameter.
2. the default value. We can use 0 for the default values unless we know a better starting value, for example when we have prior information.
3. The lower bound, if we want to restrict it to a range, `None` if we do not want to restrict the value of the parameter. For example, sometimes we might know or would like to for a parameter to be positive.
4. The upper bound, if we want to restrict it to a range, `None` if we do not want to restrict the value of the parameter.
5. A 0/1 argument, 0 if the parameter must be estimated and 1 if it remains fixed.

We will define a simple model with just the three ASCs and two parameters for two variables of interest, time and cost.
Note that one of the ASCs, `ASC_SM` is set to not be estimated, notice the 1 in the value of the last argument when it is created. This comes from the explanation above, we set one of the ASCs arbitrarily to 0 because we utility cannot be recovered up to changes in constants, so we will pick among the many possible solutions the one that makes the ASC for the SwissMetro alternative 0.

In [10]:
ASC_CAR = exp.Beta ( 'ASC_CAR' ,0, None , None ,0)
ASC_TRAIN = exp.Beta ( 'ASC_TRAIN' ,0, None , None ,0)
ASC_SM = exp.Beta ( 'ASC_SM' ,0, None , None ,1)
B_TIME = exp.Beta ( 'B_TIME' ,0, None , None ,0)
B_COST = exp.Beta ( 'B_COST' ,0, None , None ,0)

We will create an artificial variable, ussing the luggage variable but squared.
This variable will only be included as a parameter for the utility of the car alternative. This is a totally arbitrary variable for the purposes of exposition, it does not mean that it is a good one.

In [11]:
B_LUGGA_SQ = exp.Beta( 'B_LUGGA_SQ', 0, None, None, 0)
LUGGA_SQ = LUGGAGE**2

A warning from the creator of the biogeme package:
when we define the parameters of our model, we store them into python variables.
The author strongly recomments using the same name for the python variable
than for the parameter.
For example, while we could have define the variable following the code in the next cell, it is not recommended. I imagine that this could cause some confusion later on.

In [12]:
#doing this is not recommended!
car_cte = exp.Beta( 'ASC_CAR' ,0, None , None ,0)

We now define the utility functions for each alternative, more speficifically the linear relationship between the variables and the observed component of the utility. The are the $V_j$ in our model.

In [13]:
V1 = ASC_TRAIN + B_TIME * TRAIN_TT + B_COST * TRAIN_CO

V2 = ASC_SM + B_TIME * SM_TT + B_COST * SM_CO

V3 = ASC_CAR + B_TIME * CAR_TT + B_COST * CAR_CO + B_LUGGA_SQ*LUGGA_SQ

We have to create a dictionary that maps the utility functions to the numbers that identify the alternatives in the database.
In this case 1 for Train, 2 for Swissmetro, 3 for car.

In [14]:
V = {1: V1 ,
2: V2 ,
3: V3 }

In [15]:
V

{1: ((ASC_TRAIN(init=0) + (B_TIME(init=0) * TRAIN_TT)) + (B_COST(init=0) * TRAIN_CO)),
 2: ((ASC_SM(fixed=0) + (B_TIME(init=0) * SM_TT)) + (B_COST(init=0) * SM_CO)),
 3: (((ASC_CAR(init=0) + (B_TIME(init=0) * CAR_TT)) + (B_COST(init=0) * CAR_CO)) + (B_LUGGA_SQ(init=0) * (LUGGAGE ** `2.0`)))}

We have to pass availabilities, these are the indicator variables signaling if the option is available for that individual. Remember that the multinomial does not need to have all alternatives present for all individuals, it can recover the model from data even if the full choice set is not available for all individuals. In most normal situations, availabilities can be set to one, becuase individuals observe all alternatives. **An example when this does npt happen can be a survey with many alternatives, and not all are presented to the individual at the same time.**

In [16]:
av = {1: TRAIN_AV,
2: SM_AV,
3: CAR_AV }

This is the definition of the model, in this case the multinomial logit (we will use other models later).

In [17]:
logprob = models.loglogit (V , av , CHOICE )

And finally we pack everything together in the biogeme object.

In [18]:
bgm_model = bio.BIOGEME ( bgm_swissmetro, logprob )

We can give a name to the model, this can help identifying the model when we come back to it later, for example when we save it to a file and want to use it in another report.

In [19]:
bgm_model.modelName = 'my first multinomial logit'

# Estimation of the model

Everythin is set, biogeme will kindly do maximum likelihood estimation for us.

In [20]:
results = bgm_model.estimate()

# Results of the model

We can check a basic summary of the estimated model, likelihoods, information
criterions, etc.

In [21]:
results.getGeneralStatistics()

{'Number of estimated parameters': GeneralStatistic(value=5, format=''),
 'Sample size': GeneralStatistic(value=10719, format=''),
 'Excluded observations': GeneralStatistic(value=9, format=''),
 'Init log likelihood': GeneralStatistic(value=-30593.03809617515, format='.7g'),
 'Final log likelihood': GeneralStatistic(value=-8901.03700973069, format='.7g'),
 'Likelihood ratio test for the init. model': GeneralStatistic(value=43384.002172888926, format='.7g'),
 'Rho-square for the init. model': GeneralStatistic(value=0.7090502426810782, format='.3g'),
 'Rho-square-bar for the init. model': GeneralStatistic(value=0.7088868068044489, format='.3g'),
 'Akaike Information Criterion': GeneralStatistic(value=17812.07401946138, format='.7g'),
 'Bayesian Information Criterion': GeneralStatistic(value=17848.47288519484, format='.7g'),
 'Final gradient norm': GeneralStatistic(value=0.05749825346138693, format='.4E'),
 'Nbr of threads': GeneralStatistic(value=12, format='')}

The value of the parameters and the p-values for their statistical significance.
**Note that ASC_SM is not shown, it was fixed to 0 by us.**

In [22]:
results.getEstimatedParameters()

               Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR     0.288099      0.042591     6.764264  1.339884e-11
ASC_TRAIN  -0.537499      0.053722   -10.005270  0.000000e+00
B_COST      0.000158      0.000017     9.170404  0.000000e+00
B_LUGGA_SQ -0.107926      0.025666    -4.204953  2.611365e-05
B_TIME     -0.012348      0.000630   -19.592802  0.000000e+00

We can recover the values for the parameters in a dictionary.

In [23]:
results.getBetaValues()

{'ASC_CAR': 0.2880985859720172,
 'ASC_TRAIN': -0.5374992115929044,
 'B_COST': 0.0001582919218329103,
 'B_LUGGA_SQ': -0.10792621754540947,
 'B_TIME': -0.012347861405361493}

# Exercises


## 1)Do you notice something unexepected in the sign of the cost parameter? Perhaps it has to do with another variable, `GA` the seasonal pass for public transport, a indicator variable of whether the individual has bought the seasonal pass or not. Create new variables for the cost of train and swissmetro that make the cost 0 is the user has bought the seasonal pass and keep the cost intact otherwise. *Please remove the 'luggage squared' variable.* Then fit the same model using those variables for their corresponding alternatives and check the results.

In [24]:
def estimate_swissmetro_from_V(V1, V2, V3):
    V = {1: V1 ,2: V2 ,3: V3 }
    av = {1: TRAIN_AV,2: SM_AV,3: CAR_AV }
    logprob = models.loglogit (V , av , CHOICE )
    bgm_model = bio.BIOGEME ( bgm_swissmetro, logprob )
    bgm_model.modelName = 'my first multinomial logit'
    results = bgm_model.estimate()
    return results

In [25]:
TRAIN_CO_GA = TRAIN_CO * (GA == 0)
SM_CO_GA = SM_CO * (GA == 0)

V1 = ASC_TRAIN + B_TIME * TRAIN_TT + B_COST * TRAIN_CO_GA
V2 = ASC_SM + B_TIME * SM_TT + B_COST * SM_CO_GA
V3 = ASC_CAR + B_TIME * CAR_TT + B_COST * CAR_CO

V = {1: V1 , 2: V2 , 3: V3 }
av = {1: TRAIN_AV, 2: SM_AV, 3: CAR_AV }

resGA = estimate_swissmetro_from_V(V1, V2, V3)
resGA.getEstimatedParameters()

              Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR    0.016228      0.037088     0.437559      0.661706
ASC_TRAIN -0.652239      0.054394   -11.991019      0.000000
B_COST    -0.007898      0.000510   -15.496743      0.000000
B_TIME    -0.012789      0.000656   -19.496761      0.000000


## 2) Create a new model by *including two new variables*, GENDER and INCOME. Then estimate the model and compare it to the previous one. How can we compare them? Which one is better?

若不区分每个alternative，则utility就加了一个常数，导致性别和收入的系数都为0，因为这两个变量在每个alternative中都是相同的，所以不会影响选择。 所以要拆开

In [26]:
INCOME_FIX = INCOME - 4*(INCOME==4)
INCOME_FIX = INCOME_FIX + (INCOME==0)

#one example, per alternative socieocon: 
B_MALE_TR = exp.Beta( 'B_MALE_TR', 0, None, None, 0)
B_MALE_SM = exp.Beta( 'B_MALE_SM', 0, None, None, 0)
B_MALE_CAR = exp.Beta( 'B_MALE_CAR', 0, None, None, 0)
B_INCOME_TR = exp.Beta( 'B_INCOME_TR', 0, None, None, 0)
B_INCOME_SM = exp.Beta( 'B_INCOME_SM', 0, None, None, 0)
B_INCOME_CAR = exp.Beta( 'B_INCOME_CAR', 0, None, None, 0)

tV1 = ASC_TRAIN + B_TIME * TRAIN_TT + B_COST * TRAIN_CO_GA + B_MALE_TR*MALE + B_INCOME_TR*INCOME_FIX
tV2 = ASC_SM + B_TIME * SM_TT + B_COST * SM_CO_GA + B_MALE_SM*MALE + B_INCOME_SM*INCOME_FIX
tV3 = ASC_CAR + B_TIME * CAR_TT + B_COST * CAR_CO + B_MALE_CAR*MALE+ B_INCOME_CAR*INCOME_FIX

resTwoNewVar = estimate_swissmetro_from_V(tV1, tV2, tV3)
resTwoNewVar.getEstimatedParameters()

                 Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR       0.018936      0.089502     0.211576  8.324376e-01
ASC_TRAIN     0.044342      0.094942     0.467044  6.404686e-01
B_COST       -0.008001      0.000502   -15.949750  0.000000e+00
B_INCOME_CAR -0.030859      0.020997    -1.469725  1.416363e-01
B_INCOME_SM   0.060560      0.017684     3.424459  6.160246e-04
B_INCOME_TR  -0.029700      0.024216    -1.226478  2.200189e-01
B_MALE_CAR    0.418519      0.042809     9.776329  0.000000e+00
B_MALE_SM     0.179647      0.035565     5.051210  4.390199e-07
B_MALE_TR    -0.598167      0.041483   -14.419721  0.000000e+00
B_TIME       -0.012530      0.000662   -18.922874  0.000000e+00


## 3) Create a model that calculates a specific coefficient for the price and travel time of each alternative. Check the model and calculate willingness to pay for the travel time of each alternative (*you can take a look at the definition in Week 3)*.

In [27]:
B_TT_TR = exp.Beta( 'B_TT_TR', 0, None, None, 0)
B_TT_SM = exp.Beta( 'B_TT_SM', 0, None, None, 0)
B_TT_CAR = exp.Beta( 'B_TT_CAR', 0, None, None, 0)
B_COST_TR = exp.Beta( 'B_COST_TR', 0, None, None, 0)
B_COST_SM = exp.Beta( 'B_COST_SM', 0, None, None, 0)
B_COST_CAR = exp.Beta( 'B_COST_CAR', 0, None, None, 0)

wV1 = ASC_TRAIN + B_TT_TR * TRAIN_TT + B_COST_TR * TRAIN_CO_GA 
wV2 = ASC_SM + B_TT_SM * SM_TT + B_COST_SM * SM_CO_GA 
wV3 = ASC_CAR + B_TT_CAR * CAR_TT + B_COST_CAR * CAR_CO



reswtp = estimate_swissmetro_from_V(wV1, wV2, wV3)
reswtp.getEstimatedParameters()

               Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR    -0.594974      0.072852    -8.166919  2.220446e-16
ASC_TRAIN  -0.019907      0.084128    -0.236626  8.129471e-01
B_COST_CAR -0.006589      0.000987    -6.676377  2.449219e-11
B_COST_SM  -0.007866      0.000532   -14.781952  0.000000e+00
B_COST_TR  -0.018539      0.001305   -14.202697  0.000000e+00
B_TT_CAR   -0.010575      0.000955   -11.067156  0.000000e+00
B_TT_SM    -0.014600      0.001011   -14.442484  0.000000e+00
B_TT_TR    -0.014034      0.000888   -15.803714  0.000000e+00

In [28]:
Betas = reswtp.getBetaValues()
(Betas['B_TT_CAR'] / Betas['B_COST_CAR'],
 Betas['B_TT_SM'] / Betas['B_COST_SM'],
 Betas['B_TT_TR'] / Betas['B_COST_TR'])

(1.6048664409382747, 1.856036722269955, 0.7569914727606489)